@model WebApp.Models.TopGenre

@{
    ViewBag.Title = "Index";
}

@if (String.IsNullOrEmpty(Model.errorMessage))
{ 
      <img src="@Url.Action("MakeChart")" />
} else
{
    <p>@Model.errorMessage</p>
}